@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/*Gral config*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;  
}

body {
    background: wheat;
}
/**/

#title {
    text-align: center;
    font-size: 40px;
}

.main__p {
    font-size: 20px;
    text-align: center;
}

#img-div {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    max-width: 500px;
    padding: 20px;
}

#tribute-info {
    max-width: 600px;
    margin: 0 auto 50px auto;
}

.tribute__h {
    margin: 30px 0;
    text-align: center;
}

.tribute__p {
    text-align:justify;
    margin-bottom: 10px;
    font-size: 20px;

}

.tribute__ul {
    margin-bottom: 30px;
    font-size: 20px;

}

.tribute__phrase {
    font-size: 20px;
}

.more__info {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.more__info a {
    color: black;
}

.more__info a:hover {
    color: red;
}